{{#admin-nav}}
	{{nav-item route='adminPlugins.procourse-installer.index' label='admin.procourse-installer.titles.install'}}
	{{nav-item route='adminPlugins.procourse-installer.installed' label='admin.procourse-installer.titles.installed'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
